.user-profile{
    color: white;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    text-align: center;
    padding: 2px;
}
.user-profile img{
    width: 17px;
    height: 17px;
    border-radius: 100%;
    background-color: white;
}
.user-profile-online{
    position: absolute;
    border-radius: 100%;
    border: 2px solid white;
    width: 10px;
    height: 10px;
    padding: 4px;
    margin-left: 10px;
    margin-top: -5px;
}